<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Behavior App</title>
    <link rel="stylesheet" href="css/foundation-6/css/foundation.css" />
    <link rel="stylesheet" href="css/foundation-6/css/app.css" />
    <link rel="stylesheet" href="css/foundation-6/css/foundation-flex.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body class="background">
    {{{body}}}
  </body>

  <script src="css/foundation-6/js/vendor/jquery.min.js"></script>
  <script src="javascripts/main.js"></script>
  <script src="css/foundation-6/js/vendor/what-input.min.js"></script>
  <script src="css/foundation-6/js/foundation.min.js"></script>
  <script src="css/foundation-6/js/app.js"></script>
</html>
