<script type="text/JavaScript">
// go back to home after five seconds
window.setTimeout(function () {
        location.href = "/";
    }, 5000);
</script>
<div class="row">
  <div class="column">
    <h1 class="header">Good Job!</h1>
  </div>
</div>
