<div class="row">
<h1>{{question}}</h1>
</div>

<div class="row">
  <div class="small-4 large-4 columns">
  	<div class="box">
	  <div class="option">
 yo
	  </div>
	</div>
  </div>
  <div class="small-4 large-4 columns">
  	<div class="box">
	  <div class="option">
hi
	  </div>
	</div>
  </div>
  <div class="small-4 large-4 columns">
  	<div class="box">
	  <div class="option">
	  respect
	  <i id="respect" class="fa fa-volume-up"></i>
	  <audio id="respectaudio" preload src="https://ssl.gstatic.com/dictionary/static/sounds/de/0/respect.mp3"></audio>
	  </div>
	</div>
  </div>
</div>