
<div class="row">
<h2 id="q">hella</h2>
</div>


<div id="values" class="row align-spaced large-up-4">
</div>

<div id="hella" class="row align-spaced large-up-4">
</div>

<div id="template" class="column box" style="display: none">
  	<div class="option">
  	  <p></p>
  	  <i id="icon" class="fa fa-volume-up"></i>
	  <audio id="audio" preload src=""></audio>
	</div>
</div>



<script src="javascripts/questions.js"></script>