
<div class="row">
<h2 class="header" id="q">hella</h2>
</div>


<div id="values" class="row align-spaced large-up-4">
</div>

<div id="scenarios" class="row align-spaced large-up-4">
</div>

<div id="template" class="column si-box" style="display: none">
	<p></p>
	<i id="icon" class="fa fa-volume-up fa-2x"></i>
	<audio id="audio" preload src=""></audio>
</div>


<script src="javascripts/questions.js"></script>
