<div class="row">
  <div class="column">
    <h1 class="header">Find Your Name!</h1>
  </div>
</div>
<div class="row align-spaced large-up-4">
  {{#each students}}
  <div class="column si-box">
    <span class="names">{{name}}</span>
  </div>
  {{/each}}
</div>
