<div class="row">
  <div class="column">
    <h1 class="header">Find Your Name!</h1>
  </div>
</div>
<div class="row align-spaced large-up-4">
  {{#each students}}

  <div class="column si-box">
    <a style="display:block" href="/question">
    <span class="names">{{name}}</span>
      </a>
  </div>

  {{/each}}
</div>
