.option {
	background: #dddddd;
	border-radius: .5em;
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 20px;
	margin: 10px;

}

.box{
	position: relative;
	width: 100%;		/* desired width */
}
.box:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.background {
	background-color: #DAC9BB;
}

.si-box {
	padding: 3em;
	margin:10px;
	border-radius:.5em;
	text-align: center;
}

.si-box:nth-of-type(4n) {
	background-color:rgb(192, 175, 225); /*purple*/
}
.si-box:nth-of-type(4n+1) {
	background-color:rgb(253, 216, 213);/*peach*/
}
.si-box:nth-of-type(4n+2) {
	background-color:rgb(203, 232, 208);/*green*/
}
.si-box:nth-of-type(4n+3) {
	background-color:rgb(250, 242, 183);/*yellow*/
}
